@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

nav ul li a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.1rem;
}

nav a i{
    margin-left: 10px;
    font-size: 40px;
}

nav ul li:hover a{
    color: yellow !important; 
}


h3{
    text-align: center;
    font-family: 'Merriweather', serif;
}



