@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body{
    overflow-x: hidden;
}

nav ul li a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.1rem;
}

nav a i{
    margin-left: 10px;
    font-size: 40px;
}

nav ul li a{
    color: white;
}

nav ul li:hover a{
    color: yellow !important; 
}

nav{
    background-color: black;
}

h3{
    text-align: center;
    font-family: 'Merriweather', serif;
}

img{
    width: 80%;
    transform: translateX(25%);
    border-radius: 5px;
}

article ul{
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0px;
    letter-spacing: 0.5px;
    color: #ffff00;
    font-weight: bolder;
}

#welcome-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    background-image: url('./laptop.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#welcome-page h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 40vh;
    color: yellow;
}

#about-article{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1495486017771-e905082fd5e1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about-article .row img{
    transform: translateY(40%);
}

#about-article .row div:nth-of-type(2){
    transform: translateY(60%);
}

@media screen and (max-width: 992px){
    #about-article .row img{
        transform: translateY(0%);
        transform: translateX(15%);
        margin-top: 10px;
    }
    #about-article .row div:nth-of-type(2){
        transform: translateY(1%);
    }    
}