@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body{
    overflow-x: hidden;
}

nav ul li a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.1rem;
}

nav a i{
    margin-left: 10px;
    font-size: 40px;
}

nav ul li:hover a{
    color: yellow !important; 
}

h3{
    text-align: center;
    font-family: 'Merriweather', serif;
}

img{
    width: 80%;
    transform: translateX(25%);
    border-radius: 5px;
}

article ul{
    list-style: none;
}

.welcome-page{
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow-x: auto;
    background-image: url('./laptop.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.welcome-page h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 40vh;
    color: yellow;
}

.about-article{
    background-attachment: fixed;
}